<router-outlet></router-outlet>

<div class="body">
<div class="a">
    <div class="b-first">
         <div class="f"></div>
         
        <div class="s">
            <div class="product">
                <div class="essenc"></div>
                <div class="product-a"></div>
                <div class="product-b"></div>
                <div class="product-c"></div>
                <div class="product-d"></div>
            </div>
        </div>
    </div>
</div>

<div class="a">
    <div class="b-second">
         <div class="f">
            <div class="gifts">
                <div class="gift">
                    <div class="gift-a">
                        <a href="/giftcards"><img src="assets\ecommerce\gettyimage.jpg"></a>
                    </div>
                    <div class="gift-b">
                        <a href="/giftcards"><img src="assets\ecommerce\gettyimages.jpg"></a>
                    </div>
                    <div class="gift-t">
                        <p>
                            Kartat tona dhuratë janë një mënyrë e mrekullueshme për të shprehur dashurinë dhe kujdesin tuaj. 
                            Ata hapin një botë të zgjedhjeve dhe mundësive për të tjerët. 
                            Një dhuratë e veçantë për momente të paharrueshme.
                        </p>
                    </div>
  
                </div>
            </div>
         </div>
        <div class="s"></div>
    </div>
</div>

<div class="a">
    <div class="b-third">
         <div class="f">
            <div class="pagesa">
               
                <div class="text">
                <h1>Pagesa</h1>
            
                    <p>
                        Përvoja e-commerce që ofron pranim të gjerë të kartelave për pagesë siguron një blerje të shpejtë, të sigurtë dhe të përshtatshme për të gjithë klientët. 
                        Ky nivel i gjerë i mundësive të pagesës krijon një përvojë blerjeje të rehatshme dhe të besueshme për përdoruesit tanë.
                    </p>
                </div>
                
                <div class="pay">
                
                    <div class="cards">
                    <p>Keni pengesë në pagesë.Klikoni butonin!</p>
                    <button >Ndihmë</button>
                
                    <img src="assets\cards\240_F_616923906_1cOQ0kN4MvXLdAe3uP1f8FIQ9W0k6TJm.png">
                   
                    </div>
                
                    <div class="tel">
                    <p>Na kontaktoni menjëherë.Klikoni butonin!</p>
                    <button >Ndihmë</button>
                    
                    <img src="assets\ecommerce\pexels-pixabay-209695.png">
                    
                    </div>
                
                </div>
            
            </div>
         </div>
        <div class="th"></div>
    </div>
</div>

