<router-outlet></router-outlet>
<app-nav-klienti></app-nav-klienti>
<div class="first">
    <div class="grid">
    <div class="content">
        <div class="a"></div>
        <div class="b"></div>
        <div class="c"></div>
    </div>
    </div>
</div>


<div class="body">
<div class="produktet">
    <div class="d">
        <div class="fotoja">
            <div class="cmimi"><h1>£ 18<sup>50</sup></h1>
                <h3>£ 22<sup>49</sup></h3>
                <img src="assets\produktetezbritjes\BOW.png">
            </div>
            <div class="foto">
             <img src="assets\produktetezbritjes\61IL7qpdjDL._AC_SY575_.jpg">
            </div>
            <div class="emri">
                <p>DREAM PAIRS Women's FRE High Heel Chelsea Style Ankle Bootie </p>
            </div>
            <div class="butonat">
                <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
            </div>

        </div>
    </div>


    <div class="d">
        <div class="fotoja">
            <div class="cmimi"><h1>£ 20<sup>35</sup></h1>
                <h3>£ 39<sup>00</sup></h3>
                <img src="assets\produktetezbritjes\BOW.png">
            </div>
            <div class="foto">
             <img src="assets\produktetezbritjes\71dv1iIYXJL._AC_UL320_.jpg">
            </div>
            <div class="emri">
                <p>ALDO Women's Jerilini Top Handle Bag </p>
            </div>
            <div class="butonat">
                <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
            </div>

        </div>
    </div>


    <div class="d">
        <div class="fotoja">
            <div class="cmimi"><h1>£ 30<sup>00</sup></h1>
                <h3>£ 39<sup>75</sup></h3>
                <img src="assets\produktetezbritjes\BOW.png">
            </div>
            <div class="foto">
             <img src="assets\produktetezbritjes\81csEUjdC9L._AC_SL1500_.jpg">
            </div>
            <div class="emri">
                <p>URBANFIND Men's Slim Fit Lightweight Sportswear Jacket Casual Bomber Jacket </p>
            </div>
            <div class="butonat">
                <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
            </div>

        </div>
    </div>


    <div class="d">
        <div class="fotoja">
            <div class="cmimi"><h1>£ 8<sup>04</sup></h1>
                <h3>£ 10<sup>00</sup></h3>
                <img src="assets\produktetezbritjes\BOW.png">
            </div>
            <div class="foto">
             <img src="assets\produktetezbritjes\71lg-nwYAnL.__AC_SX300_SY300_QL70_ML2_.jpg">
            </div>
            <div class="emri">
                <p>Dreamscene Flannel Fleece Stars Throw Blanket Over Bed Super Soft Blanket Plush, Kids Fleece Blankets for Sofa, Travel, Adult, Outdoor </p>
            </div>
            <div class="butonat">
                <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
            </div>

        </div>
    </div>
</div>
</div>





<div class="body">
    <div class="produktet">
        <div class="d">
            <div class="fotoja">
                <div class="cmimi"><h1>£ 3<sup>97</sup></h1>
                    <h3>£ 9<sup>99</sup></h3>
                    <img src="assets\produktetezbritjes\BOW.png">
                </div>
                <div class="foto">
                 <img src="assets\produktetezbritjes\91c6q-5UGWL.__AC_SX300_SY300_QL70_ML2_.jpg">
                </div>
                <div class="emri">
                    <p>Makeup Revolution Vivid Baked Highlighter, 8 Grams</p>
                </div>
                <div class="butonat">
                    <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                    <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                    <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                    <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
                </div>
    
            </div>
        </div>
        <div class="d">
            <div class="fotoja">
                <div class="cmimi"><h1>£ 9<sup>99</sup></h1>
                    <h3>£ 15<sup>45</sup></h3>
                    <img src="assets\produktetezbritjes\BOW.png">
                </div> 
                <div class="foto">
                 <img src="assets\produktetezbritjes\71gJIYBMy3L.__AC_SX300_SY300_QL70_ML2_.jpg">
                </div>
                <div class="emri">
                    <p>Makeup Brushes BS-MALL Premium Synthetic Foundation Powder Concealers Eye Shadows Makeup 14 Pcs Brush Set</p>
                </div>
                <div class="butonat">
                    <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                    <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                    <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                    <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
                </div>
    
            </div>
            
        </div>
        <div class="d">
            <div class="fotoja">
                <div class="cmimi"><h1>£ 58<sup>18</sup></h1>
                    <h3>£ 75<sup>33</sup></h3>
                    <img src="assets\produktetezbritjes\BOW.png">
                </div> 
                <div class="foto">
                 <img src="assets\produktetezbritjes\71AuZysWZ0L._AC_SL1500_.jpg">
                </div>
                <div class="emri">
                    <p>VEVOR Hydraulic Motorcycle Lift Table, 350 LBS Capacity Motorcycle Scissor Jack Lift with Wide Deck, J-Hooks </p>
                </div>
                <div class="butonat">
                    <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                    <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                    <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                    <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
                </div>
    
            </div>
        </div>
        <div class="d">
            <div class="fotoja">
                <div class="cmimi"><h1>£ 39<sup>49</sup></h1>
                <h3>£ 42<sup>00</sup></h3>
                <img src="assets\produktetezbritjes\BOW.png">
                </div> 

                <div class="foto">
                 <img src="assets\produktetezbritjes\71HVvdfRmEL._AC_SY500_.jpg">
                </div>
                <div class="emri">
                    <p>Tanming Women's 2 Piece Outfits Long Sleeve Knit Sweater Top Wide Leg Pants Lounge Sets Tracksuits</p>
                </div>
                <div class="butonat">
                    <div class="zemra"><i class="fa-solid fa-heart"></i></div>
                    <div class="porosi"><i class="fa-solid fa-basket-shopping"></i></div>
                    <div class="pershkrimi"><i class="fa-solid fa-circle-info"></i></div>
                    <div class="sale"><img src="assets\produktetezbritjes\sale.png"></div>
                </div>
    
            </div>
        </div>
    </div>
</div>
<app-footer-klienti></app-footer-klienti>