<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="body">
<div class="content">
    <div class="zbukurimet">
        <div class="aa"></div>
        <div class="a"></div>
        <div class="ab"></div>
    </div>
    <div class="text">
        
        <div class="header">
            <div class="fa"></div>
     <h1>Bëni çdo rast të jetë një festë e vërtetë me kartat tona dhuruese! <i class="fa-solid fa-credit-card"></i> </h1>
     <div class="fb"></div>
    </div>
     <div class="paragrafi">
     <p>"Shfletoni gamën tonë të gjërave të shkëlqyeshme dhe të përzgjedhura me kujdes në faqen tonë të e-commerce dhe zbuloni botën e dhuratave të paharrueshme me kartat dhuruese. Me një gamë të gjerë të giftcards për çdo rast dhe rrethanë, mund të sigurohemi që do të gjeni diçka të përshtatshme për të gjithë. Dhuratat tona janë të disponueshme në vlera të ndryshme dhe ofrojnë liri të plotë për recipiencën të zgjedhë atë që preferon. Krijojini një përvojë të veçantë blerjeje, duke ofruar mundësinë për të personalizuar kartat dhuruese me mesazhe të veçanta dhe dizajne të bukura. Nëpërmjet faqes sonë të e-commerce, ne ju mundësojmë të sjellim kënaqësi dhe emocion në çdo dhuratë që ofrojmë, duke bërë blerjet tuaja të bëhen një eksperiencë e padukshme dhe të paharrueshme."</p>
    </div></div>

</div>
</div>
<app-footer></app-footer>