<router-outlet></router-outlet>
<app-navbar></app-navbar>

<div class="s">

<div class="sherbimi">
    <h2>Shërbimi për Klientët</h2>
    <p>
      Ne jemi këtu për të ofruar ndihmë dhe mbështetje të shkëlqyeshme për klientët tanë. 
      Për çdo pyetje, problem ose kërkesë, ju lutemi mos hezitoni të na kontaktoni. 
      Ekipi ynë i shërbimit për klientët është gati të ju ndihmojë në çdo kohë.
    </p>
    </div>

   
    
    <div class="kontakt">
      <p>Për çdo pyetje, sugjerim apo kërkesë, jemi në dispozicion për të ju ndihmuar.</p>
      <h3>Kontaktoni për Ndihmë</h3>
      <p>Email: infosherbimi.com</p>
      <p>Numri: +383 44 455 455</p>
      <div class="kontaktet">
        
        <ul>
          <li class="insta"><i class="fa-brands fa-square-instagram"></i></li>
          <li class="face"><i class="fa-brands fa-facebook"></i></li>
          <li class="tele"><i class="fa-brands fa-telegram"></i></li>
          <li class="tw"><i class="fa-brands fa-square-twitter"></i></li>
          <li class="em"><i class="fa-solid fa-envelope"></i></li>
        </ul>
      </div>
    </div>
 
  </div>
  <app-footer></app-footer>
