.a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 720px;
    height: 430px;
    display: grid;
    grid-template: 420px/ 400px 300px;
    border-radius: 40px;
    margin-top: 120px;

}
.first{
    border-radius: 40px 0px 0px 40px;
    width: 420px;
    height: 400px;
}
.first img{
    width: 380px;
    height: 380px; 
    
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}
button{
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 60px;
    font-size: 17px;
    font-family: 'MontSerrat';
    font-weight: bold;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    box-shadow: 2px 2px 8px rgb(7, 7, 7, 1);
}  
.qasu{
    border-radius: 30px 30px 0px 0px;
}
.reg{
    border-radius: 0px 0px 30px 30px;
}
ul{
    list-style: none;
}
button:hover{
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    transition: 0.5s;
  
}