<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="body">
<div class="a">
    <div class="b">
       
        <div class="input">
            <div class="logo">
                <img src="assets\qasja\log.png">
                </div>
            <input type="search"  class="name" placeholder="Emri">
            <input type="search"  class="sur" placeholder="Mbiemri">
            <input type="email"  class="email" placeholder="Email">
            <input type="password"  class="pass" placeholder="Fjalëkalimi">
            <input type="date" class="birth" placeholder="Datëlindja">
            <input type="text"  class="adresa" placeholder="Adresa Banimit">
            <input type="tel"  class="tel" placeholder="Telefoni">
            <label>
                <input type="radio" class="user" value="admin">
                Admin
              </label>
              <label>
                <br>
                <input type="radio" class="user" value="user">
                Përdorues
              </label>
            <button>Rregjistrohu</button>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>