<div class="footer">
    <div class="logo">
        <a routerLink="/">
            <h1>E commerce
              <i class="fa-solid fa-cart-shopping"></i>
            </h1></a>
              <p>Mire se erdhet ne faqen tone.
                <br>
                Shpresoj te ndiheni te kenaqur nga sherbimi yne
              </p>
    </div>
    <div class="kontaktet">
        <p>Na kontaktoni</p>

        <p>Email: <i> ecommerce-email.com </i></p>
        <p>Tel: +383 33 333 333</p>

    </div>

    <div class="links">
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/zbritje">Zbritje</a></li>
        <li><a href="/sherbimi">Sherbimi</a></li>
        <li><a href="/rreth-nesh">Rreth nesh</a></li>
     </ul>
    </div>

    <div class="forus">
    <ul>
          <li class="insta"><i class="fa-brands fa-square-instagram"></i></li>
          <li class="face"><i class="fa-brands fa-facebook"></i></li>
          <li class="tele"><i class="fa-brands fa-telegram"></i></li>
          <li class="tw"><i class="fa-brands fa-square-twitter"></i></li>
          <li class="em"><i class="fa-solid fa-envelope"></i></li>
    </ul>
    </div>
    <div class="forus">
      <ul>
            <li class="insta"><i class="fa-brands fa-cc-mastercard"></i></li>
            <li class="face"><i class="fa-brands fa-cc-paypal"></i></li>
            <li class="tele"><i class="fa-brands fa-cc-visa"></i></li>
            <li class="tw"><i class="fa-brands fa-cc-apple-pay"></i></li>
            <li class="em"><i class="fa-brands fa-cc-stripe"></i></li>
      </ul>
      </div>
    <p>&copy; 2024 Ecommerce. Sara Gallopeni.</p>
</div>