h1{
    font-family: 'Rubik Maps';
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}

.footer{
    display: grid;
    grid-gap: 30px;
    grid-template: 270px/ 240px 240px 240px 150px 150px ;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    border: 1px solid black;
    font-family: 'MontSerrat';
    padding: 3%;

  

}
p{
    font-family: 'Oswald';
    font-size: 15px;
}
ul{
    list-style: none;
}
ul li{
    margin-bottom: 10px;
}
i{
    font-size: 30px;
    margin-bottom: 5px;
    color: black;
}
.logo {
    margin-right: 20px;
}
.kontaktet i{
    font-size: 15px;
}

h1:hover, li:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
 }

.forus i:hover{
    text-shadow: 2px 2px 4px rgba(116, 116, 116, 0.5);
    font-size: 37px;
    cursor: pointer; 
}
