<router-outlet></router-outlet>
<app-nav-klienti></app-nav-klienti>
<div class="quote">
<div class="a">
  <div class="text">
    <h1>Kur konsumatori është i lumtur, dhe ne jemi të lumtur<i class="fa-solid fa-face-grin-hearts"></i></h1>
    <p>"Për të dhënë një shërbim të vërtetë duhet të shtoni diçka që nuk mund të blihet ose matet me para, dhe kjo është sinqeriteti dhe integriteti."</p>
  </div>
  <div class="foto">
  </div>
  </div>

</div>

<div class="rreth-nesh">
    <div class="header">
      <h2>Rreth Nesh</h2>
      <p>Më shumë informacione rreth biznesit tonë.</p>
    </div>
  
    <div class="permbajtja">
      <h2>Misioni ynë</h2>
      <p>Ne jemi një kompani që angazhohet për të ofruar produkte cilësore dhe shërbim të shkëlqyeshëm për klientët tanë. Misioni ynë është të krijojmë një eksperiencë blerjeje të pëlqyeshme dhe të besueshme për të gjithë klientët tanë.</p>
    </div>
  
    <div class="ekipi">
      <h2>Ekipi ynë</h2>
      <p>Ne kemi një ekip të përkushtuar që punon me pasion dhe profesionalizëm për të siguruar që produktet tona dhe shërbimet të jenë në nivelin më të lartë të cilësisë.</p>
    </div>
  
    <div class="vlerat">
      <h2>Vlerat tona</h2>
      <ul>
        <li>Cilësia e produktit</li>
        <li>Kujdesi ndaj klientit</li>
        <li>Inovacioni</li>
        <li>Përkushtimi ndaj përmirësimit të vazhdueshëm</li>
      </ul>
    </div>
  
    
  </div>
<app-footer-klienti></app-footer-klienti>