<router-outlet></router-outlet>
<div class="nav">

    <a routerLink="/klienti">
    <h1>E commerce</h1>
      <img src="assets\logo\image-from-rawpixel-id-6262649-jpeg.png">
    </a>
    <ul>
      <li><a routerLink="/zbritjet-klienti">Zbritjet</a></li>
      <li><a routerLink="/sherbimi-klienti">Shërbimi për klientët</a></li>
      <li><a routerLink="/rreth-nesh-klienti">Rreth Nesh</a></li>
    </ul>

    <div class="kerkimi">
    <input type="search" placeholder="Kërko..."><button><i class="fa-solid fa-magnifying-glass"></i></button>
    <ul>
        <li><a routerLink="/"><i class="fa-solid fa-right-from-bracket"></i></a></li>
    </ul>
    </div>

  </div>
